/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --gray-tint: #D9D9D9;
    /*elements property*/
    --cards-padding: 5px;
    --element-border-radius: 20px;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}
h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}
.card-txt p {
    font-size: 0.875rem;
    font-weight: 400;
}
.card a:visited {
    color: initial;
}

.card a {
    text-decoration: none;
}
/* Header Styles */
header {
    width: 100%;
    max-width: 1440px;
    height: 79px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.logo {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 61px;
    margin: 0 50px;
}
.navigation-link {
    padding-right: 50px;
}
.navigation-link li {
    display: flex;
    align-items: flex-end;
    height: 33px;
}
.navigation-link li:nth-child(1) {
    border-top: 2px solid var(--main-color);
}
.navigation-link li:nth-child(2) {
    border-top: 2px solid white;
}
.navigation-link li:nth-child(1) a {
    color: var(--main-color)
}
.navigation-link li:nth-child(2) a {
    color: black;
}
.navigation-link ul {
    display: flex;
    list-style: none;
    gap: 68px;
}
.navigation-link a {
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    height: 100%;
    font-size: 1rem;
}

/* Filter and search bar*/
.context-and-filter {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 35px;
}
.context-title {
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 8px;
}
.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 49px;
    font-size: 1.125rem;
}
.search-bar #search-input {
    width: 195px;
    height: 100%;
    border: 1px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0;
    text-align: center;
}
.search-bar #search-input::placeholder {
    font-size: 0.9rem;
    text-align: center;
}
.search-bar #search-input:focus {
    outline: none;
}
.search-bar .map {
    width: 50px;
    height: 49px;
    border-radius: 15px 0 0 15px;
    color: black;
    background-color: var(--main-bg-color);
}
.search-bar .map i {
    color: black;
}
.search-bar .submit-button {
    height: 49px;
    font-size: 1.125rem;
    padding: 15px 16px;
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
}
.submit-button i{
    display: none;
    color: white;
}
.submit-button span {
    color: white;
    font-weight: 700;
}
.info {
    font-size: 1rem;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
}
.info svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.filters-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    color: #000;
    text-align: center;
    /* Title/Filter */
    font-family: Raleway, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
}
.filters-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;
    gap: 10px;
    padding: 0 19px;
    border: 2px solid var(--gray-tint);
    border-radius: 25px;
    font-family: Raleway, sans-serif;
    font-size: 1.0625rem;
    transition: background-color 0.2s ease;
}
.filters-button:hover {
    background-color: var(--filter-bg-color);
}
.filters-button i {
    font-size: 1.375rem;
}
/* Main Content Styles */
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: var(--element-border-radius);
    padding: var(--cards-padding);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    /*filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));*/
}

.card img {
    object-fit: cover;
    background-repeat: no-repeat;
}

.card-title {
    font-size: 1rem;
    font-weight: 700;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: var(--element-border-radius);
    padding: 30px;
    box-sizing: border-box;
}
.card-rating {
    line-height: 0;

}
.card-rating i {
    width: 11px;
    display: inline-block; /* Permet au div de prendre la taille de son contenu */
    /*font-size: 0.80rem; !* Réglez la taille de la fonte pour les icônes (ajustez selon vos besoins) *!*/
    line-height: 1;
    margin: 0;
}
/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    gap: 30px;
}
.hebergements-cards .card {
    display: flex;
    flex: 1 0 calc(33% - 35px);
    justify-content: flex-end;
    /*height: 100%;*/
    box-sizing: border-box;
}

.hebergements-cards a {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    height: 100%;
}

.hebergements-cards .card img {
    width: 100%;
    height: 114px;
    vertical-align: top; /* afin de retirer l'espace des caractères descendants*/
    border-top-left-radius: calc(var(--element-border-radius) - var(--cards-padding));
    border-top-right-radius: calc(var(--element-border-radius) - var(--cards-padding));
}
.hebergements-cards .card-content {
    padding: 9px 15px 10px 15px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergements-cards .card-title,.card-subtitle {
    padding-bottom: 8px;
}
.hebergements-cards .card-rating {

}
.btn-container {
    margin-top: 30px;
    font-size: 1.125rem;
    font-weight: 700;
}
.btn-container a {
    text-decoration: none;
    color: black;
}
.submit-button:hover {
    cursor: pointer;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
    padding: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires-cards .card a {
    display: flex;
}
.populaires-cards .card {
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: calc(var(--element-border-radius) - var(--cards-padding));
    border-bottom-left-radius: calc(var(--element-border-radius) - var(--cards-padding));
}

.populaires-cards .card-content {
    width: 67%;
    padding: 10px 5px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    padding-bottom: 5px;
}

.populaires-cards .card-subtitle {
}

/* Activité*/
.activite {
    max-width: 1340px;
    background-color: white;
    padding: 30px;
    margin-top: 35px;
}
.activite-cards {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}
.activite-cards .card {
    display: flex;
    flex: 1 0 calc(25% - 30px);
    box-sizing: border-box;
    padding: 0;
}
.activite-cards a {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.activite-cards .card img {
    width: 100%;
    height: 380px;
    vertical-align: top;
    border-top-left-radius: var(--element-border-radius);
    border-top-right-radius: var(--element-border-radius);
}
.activite-cards .card-title {
    display: flex;
    align-items: center;
    padding: 20px 19px;
    flex-grow: 1;
}
.activite-cards .card-content {
    display: contents;
}
/* Footer */
footer {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    padding: 0 50px;
    width: 100%;
    margin-top: 35px;
}
.footer-container {
    display: flex;
    box-sizing: border-box;
    max-width: 1340px;
    width: 100%;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}
.footer-column {
    display: flex;
    flex-direction: column;
    width: calc(33% - 20px);
    padding: 20px;
    flex-grow: 1;
}

.footer-column h3 {
    text-align: left;
}
.footer-column li {
    list-style: none;
    text-decoration: none;
    padding-top: 15px;
    margin: 0;
}
.footer-column li a {
    text-decoration: none;
    color: black;
}
.footer-column ul {
    padding-inline-start: 0;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filters-title {
        width: 100%;
        text-align: start;
        padding-bottom: 5px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards .card {
        width: calc(100% / 3);
        margin-top: 20px;
        gap: 20px;
    }

    .populaires-cards img {
        min-height: 134px;
        height: 100%;
    }

    .activite-cards .card img {
        height: 200px;
    }

    .footer-container {
        gap: 30px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .main-container {
        padding: 0;
    }
    header {
        height: 115px;
        flex-direction: column;
    }

    .logo {
        box-sizing: border-box;
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .navigation-link {
        height: 36px;
        padding: 0;
    }
    .navigation-link ul {
        height: 36px;
        gap: 0;
        padding: 0;
    }
    .navigation-link li:nth-child(2n+1) {
        border-top: none;
    }
    .navigation-link li:nth-child(1) {
        border-bottom: 2px solid var(--main-color);
    }
    .navigation-link li {
        width: 100%;
        justify-content: center;
    }
    .navigation-link li a {
        align-items: flex-start;
    }

    .search-bar #search-input {
        text-align: start;
        padding-left: 24px;
        width: 100%;
        margin-right: -20px;
        margin-left: 49px;
    }
    .search-bar .map {
        position: absolute;
    }
    .search-bar::placeholder {
        padding: 0;
        text-align: center;
    }
    .search-bar .submit-button span {
        display: none;
    }
    .search-bar .submit-button i {
        display: flex;
        font-size: 1rem;
    }
    .search-bar .submit-button {
        border-radius: 15px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .context-and-filter {
        padding: 0 20px;
    }
    .filters-title {
        padding-bottom: 0;
    }
    .filters-container {
        column-gap: 10px;
        row-gap: 20px;
    }
    .filters-button {
        flex-wrap: wrap;
        width: calc(50% - 10px);
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 20px;
    }
    .hebergements-and-populaires .hebergements {
        background-color: white;
    }
    .hebergements-and-populaires .populaires {
        padding: 30px 20px;
    }
    .populaires a {
        flex-direction: column;
    }
    .populaires {
        display: flex;
        margin-top: 0;
        margin-bottom: 15px;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 15px;
    }
    .populaires-cards {
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    .populaires-cards .card {
        width: 100%;
        margin-top: 0;
        box-sizing: border-box;
    }
    .populaires-cards .card img {
        width: 100%;
        height: 114px;
        vertical-align: top;
        border-radius: calc(var(--element-border-radius) - var(--cards-padding)) calc(var(--element-border-radius) - var(--cards-padding)) 0 0;
    }
    .populaires-cards .card-title {
        padding-bottom: 8px;
    }


    .hebergements {
        background-color: white;
    }
    .hebergements-cards {
        gap: 15px;
        margin-top: 15px;
    }
    .hebergements-cards .card {
        flex: 1 0 calc(100% - 10px);
    }
    .hebergements-cards .btn-container {
        margin-top: 15px;
    }
    .activite-cards {
        flex-direction: column;
        gap: 15px;
    }
    .activite-cards .card img {
        height: 141px;
    }
    footer {
        padding: 0;
    }
    .footer-container {
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }
    .footer-column {
        width: 100%;
        padding: 0;
    }
}